<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Negocios.Properties.Settings.DbDemetriosConnectionString"
            connectionString="Data Source=DESKTOP-VO4M49N;Initial Catalog=DbDemetrios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>